* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --dark-blue: #0A3871;
    --light-blue: #F3F5FC;
    --dark-gray: #343A40;
    --medium-gray: #495057;
    --light-gray: #D8DFE8;
}

html, body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--light-blue);
}
